<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Task</title>
</head>
<body>

<div align="center">
    <h2>Create New Task</h2>
    <br>
    <br>
    <form th:action="@{'/task/add/' + ${projectId}}" method="post" th:object="${task}">
        <label>Task name</label>

        <p><input type="text" th:field="${task.name}"/></p>
        <br>
        <label>Task description</label>
        <p><textarea type="text" th:field="${task.description}"></textarea></p>
        <br>

        <label>Status:</label>

        <select name="country" th:field="*{taskStatus}">
            <option value=""> -- </option>
            <option th:each="ts : ${T(com.eugene.spring.boot.pet.project.TaskTracker.entity.TaskStatus).values()}"
                    th:value="${ts}" th:text="${ts.displayText}"></option>
        </select>

        <br/>


        <button type="submit">Create</button>
    </form>

</div>
</body>
</html>