<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div align="center">
  <div>
    <form th:action="@{/logout}" method="post">
      <p>
        Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
      </p>
      <input type="submit" value="Sign Out" />
    </form>
  </div>
  <div>
    <h1>List of Users</h1>
  </div>

  <div>
    <table border="1">
      <tr>
        <th>User ID</th>
        <th>E-mail</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Roles</th>
<!--        <th></th>-->
      </tr>
      </thead>
      <tbody>
      <tr th:each="user: ${listUsers}">
        <td th:text="${user.id}">User ID</td>
        <td th:text="${user.email}">E-mail</td>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.surname}">Surname</td>
        <td th:text="${user.roles}">Roles</td>
<!--        <td>Edit</td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>